<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.notestasksapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotesTasksApp">
        <activity
            android:name=".view.ui.tasks.DailyTaskDetailsAct"
            android:exported="true" />
        <activity
            android:name=".view.ui.tasks.PriorityTaskDetailsAct"
            android:exported="true" />
        <activity
            android:name=".view.ui.tasks.NotificationsAct"
            android:exported="true" />
        <activity
            android:name=".view.ui.tasks.CalendarAct"
            android:exported="true" />
        <activity
            android:name=".view.ui.tasks.SearchTaskAct"
            android:exported="true" />
        <activity
            android:name=".view.ui.tasks.AddTaskAct"
            android:exported="true" />
        <activity
            android:name=".view.ui.notes.EditNoteAct"
            android:exported="true" />
        <activity
            android:name=".view.ui.notes.SearchNoteAct"
            android:exported="true" />
        <activity
            android:name=".view.ui.notes.AddNoteAct"
            android:exported="true" />
        <activity
            android:name=".view.ui.MainAct"
            android:exported="true" />
        <activity
            android:name=".view.ui.OnBoardingAct"
            android:exported="true" />
        <activity
            android:name=".view.ui.SplashAct"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>